body, html {
    height: 100%;
    
}


.main {
    margin: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-items: center;      
}

#container{
    
    position: absolute;
    top: 300px;
    padding: 16px;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
        

}

button{
       
    padding: 16px;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
    font-size: 33px;
    color: white;

}

button:hover {
    
    background-color: crimson;
}

#score {
    position: absolute;
    top: 200px;
    font-size: 44px;
    font-weight: bold;
    color: white;
}